@page "/FirmaBeyannameleriWorkspace"

<h6>Firma Beyannameleri Esya Tanim Detayli Rapor</h6>
<hr />

<div>
    <iframe style="width:100%; height:550px;" src="https://app.powerbi.com/reportEmbed?reportId=60bc8b12-b28c-4230-81f3-74e4d1f34240&autoAuth=true&ctid=1d92cf3a-a782-4e28-bb03-bd10c82e24b5&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXdlc3QtZXVyb3BlLWUtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
</div>
@code {

}