@page "/"

<h1>Power BI Rapor Portalı</h1>

Power BI Rapor Portalına hoşgeldiniz.

<div class="container" style="text-align: center; margin-top: 4em;">
    <img src="Images/ExpressCarry.svg"  style=" width: 80%;"/>
</div>
